.vercel
node_modules
.DS_Store

build
dist / media
.env
.next
next-env.d.ts

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

